* {
    margin: 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
} 

p {
    margin: 0.5em 0 0.5em 0;
}

.header {
    padding-top: .5em;
    border: 1px solid #a2a2a2;
    background-color: #eae9e6;

}

header h1 {
    font-size: 1.45em;
    padding: 10px;
}

.main-nav {
    /* margin-top: 5px; */
    background-color: lightslategray;
    /* padding: 0 15px; */
}

nav a {
    text-decoration: none;
    padding: 18px;
    color: white;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.main-nav a:hover {
	color: black;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(neil-mark-thomas-dGyshquBzOc-unsplash.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* article {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: stretch;

} */

.hero-text {
    text-align: center;
    color: white;
}

.about-me-container {
    background-color: #d0d0cd;
    height: 30%;
    padding: 30px;
}

.about-me-content {
 
}

.about-me-experience {
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.education, .code-louisville {
    width: 40%;
    height: 100px;
    background: gray;
    margin: 20px;
}

.my-work-container {
    background-color: #e3ddd4;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.work-experience-OCM, .work-experience-PortP {
    width: 40%;
    height: 100px;
    background: gray;
    margin: 20px;
}

.contact-container {
    background-color: #535764;
    
}

/* Small Screen Width */
@media only screen and (max-width: 320px) {
    /* #message {
        display: none;
    }

    .education, .code-louisville {
        width: 30%;
    } */
}


@media only screen and (max-width:768px) {
    .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    }

}

/* Medium Screen Width */
@media only screen and (min-width: 768px) {

    .header,
	.main-nav {
		display: flex;
	}

    .header {
		flex-direction: column;
		align-items: center;
	}

}

/* Large Screen Width */
@media only screen and (min-width: 1024px) {
    .header {
		flex-direction: row;
		justify-content: space-between;
	}

}


