* {
    margin: 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
} 

p {
    margin: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

header {
    background-color: #eae9e6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

header h1 {
    font-size: 2.5em;
    padding: 1rem;
    width: 80%;
}

.main-nav {
    background-color: lightslategray;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* .hide {
    display: none;
} */

nav {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    width: 100%;
}

.hide {
    display: none;
}

nav a {
    text-decoration: none;
    padding: 18px;
    color: white;
    text-transform: uppercase;
}

.main-nav a:hover {
	color: black;
}

.Hamburger-Menu {
    display: inline-block;
    cursor: pointer;
    padding-right: 1rem;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7.5px, -8px) ;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(neil-mark-thomas-dGyshquBzOc-unsplash.jpg);
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.about-me-container {
    background-color: #d0d0cd;
    border-radius: 0px 0px 4px 4px;
    height: 30%;
    padding: 30px;
}

.about-me-content {
 
}

.about-me-experience {
    border-radius: 4px;
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.education, .code-louisville {
    width: 100%;
    border-radius: 4px;
    background: gray;
    margin: 1.25rem;
    padding: 10px;
}

.education {
    margin-top: 2.5rem;
}

.code-louisville {
    margin-bottom: 2.5rem;
}

.my-work-container {
    background-color: #e3ddd4;
    border-radius: 4px;
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.my-work-container h2 {
    padding: 1rem 1rem 0 1rem ;
}

.work-experience-OCM, .work-experience-PortP {
    width: 100%;
    background: gray;
    margin: 1.25rem;
    padding: 10px;
    border-radius: 4px;
}

.work-experience-PortP {
    margin-bottom: 2.5rem;
}

.contact-container {
    background-color: #d0d0cd;
    padding: 24px;
	margin-top: -3px;
	border-radius: 4px;
    
}

label {
	font-size: 1.2em;
    font-weight: 500;
	margin-left: 12px;
}

.btn {
    background-color: lightslategray;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: darkslategray;
}

input:hover textarea:hover {
    background: #A5D6A7;
}
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Small Screen Width */

@media only screen and (min-width: 320px) {
    .Hamburger-Menu {
        display: none;
    }

    /* header,
	.main-nav {
		display: flex;
        flex-direction: row;
		align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
	} */
}

/* Medium Screen Width */
@media only screen and (min-width: 768px) {

    header,
	.main-nav {
		display: flex;
        flex-direction: row;
		align-items: center;
        justify-content: space-between;
	}

    nav {
        width: 50%;
    }

    header h1 {
        width: 50%;
    }
    

/* Large Screen Width */
@media only screen and (min-width: 1024px) {
    header {
		display: flex;
        flex-direction: row;
		align-items: center;
        /* flex-wrap: nowrap; */
		justify-content: space-between;
	}

}


}