* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    margin: 0.5em 0 0.5em 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #eae9e6;
  display: flex;  
  justify-content: space-between;
}

/*  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(neil-mark-thomas-dGyshquBzOc-unsplash.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.about-me {
    background-color: #d0d0cd;
    height: 30%;
}



.my-work {
    background-color: #e3ddd4;
    display: flex;

    
}

.contact-container {
    background-color: #535764;
    
}

@media only screen and (min-width: 768px) {

}

